*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    line-height: normal;
    font-weight: 400;
    overflow-x: hidden !important;
    background-color: rgb(45, 54, 58);
}
nav{
    width: 100%;
    height: 100px;
    background-color:  rgb(56, 138, 138);
    margin-bottom: 10px;
    display: flex;
   padding-top: 20px;
   justify-content: center;
   color: aliceblue;
   overflow: hidden;
   position: absolute;
   position: relative;
   margin-bottom: 40px;
}



nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: skewX(-25deg);
    transition: left 0.6s ease;
    overflow: hidden;
    
  }
  nav:hover::before {
    left: 100%;
  }




.nav-left{
    
    text-transform: uppercase;
    
    text-align: center;
    height: 50PX;
    width: 900px;
    font-size: 40px;
   
}
.nav-right{
    height: 50PX;
    width: 150px;
    margin-left: 50px;
    margin-top: 8px;
   background-color: #898989 ;
   border-radius: 50px;
   padding-top: 12px;
   text-align: center ;
   z-index: 9;
   position: absolute;
   position: relative;
   overflow: hidden;
   a{
    align-items: center;
    text-decoration: none;
    color: #898989;
    text-transform: uppercase;
    border-color: solid blue;
    color: aliceblue;
    transition-duration: 0.5;
   }
   
 
}
.nav-right h1::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: rgb(45, 54, 58);
    left: 0;
    bottom: -300%;
    border-radius: 50%;
    transition: all ease 0.7s;
   color: #898989;
}

.nav-right h1:hover::after {
    bottom: 0;
    border-radius: 0;
    z-index: -1;
}



.tit{
    h1{
       text-transform: uppercase;
        font-size: 40px;
        text-align: center;
    }
    margin-bottom: 10px;   
    margin-bottom: 10px;  
}

.box-up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    justify-content: space-around;
    text-align: center ;
    text-transform: uppercase;
    
   
  
   a{
    text-decoration: none;
    color: aliceblue ;
    font-weight: 750; 
   }


}
.box-low{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    justify-content: space-around;
    text-align: center ;
    text-transform: uppercase;
    a{
        text-decoration: none;
        color: aliceblue;
        font-weight: 750;
       }

}

.corner-fold {
    height: 130px;
    width: 300px;
    padding: 10px;
    background-color: rgba(56, 138, 138, 0.753);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
  }
  .corner-fold::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 70px solid   rgba(125, 129, 129, 0.925);
    border-left: 70px solid transparent;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.3s ease;
  }
  .corner-fold:hover::before {
    transform: scale(1);
  }
  @media (max-width:600px){

    .nav-left{
        font-size: 18px;
    }

    .nav-right{
        font-size: 13px;
        margin-left: 0px;
        height: 50px;
        width: 400px;
    }
  .corner-fold{
    margin: 10px;
  }
    

  }
